version: '3.1'
services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    ports:
      - "5432:5432"

  odoo:
    image: odoo:17.0 
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./addons:/mnt/extra-addons # Ánh xạ thư mục addons vào container
      - ./etc:/etc/odoo # Ánh xạ thư mục cấu hình
    command: -c /etc/odoo/odoo.conf